#Deploy flask app using the app image from the public Docker repository
apiVersion: apps/v1
kind: Deployment
metadata:
  name: flask-app
  labels:
    app: flask
spec:
  replicas: 3
  selector:
    matchLabels:
      app: flask
  template:
    metadata:
      labels:
        app: flask
    spec:
      containers:
      - name: flask-app
        image: shubhashri/flask-app:latest
        ports:
        - containerPort: 5000
        resources:
          limits:
            cpu: 500m
          requests:
            cpu: 200m
        env:
        - name: DEMO_GREETING
          value: "Hello from the environment"
        - name: DEMO_SECRET
          value: "AKIA1234567890ABCDE"
